<%- include("../layouts/adminHeader.ejs")  %>
    
<!--Aside Here-->
<%- include("../layouts/adminAside.ejs")  %>

<!--Head with search bar and other options Here-->
<%- include("../layouts/adminHead.ejs")  %>
     
        <section class="content-main">
           
            <div class="card mb-4">
                <h1>Not Found 404</h1>
            </div> <!-- card end// -->
          
        </section> <!-- content-main end// -->

<%- include("../layouts/adminFooter.ejs")  %>