



    <header class="header-area header-style-5 shadow-sm  " >
       
        <div class="header-bottom sticky-bar sticky-white-bg  ">
            <div class="container  ">
                <div class="header-wrap header-space-between position-relative " style="padding-top: 20px; padding-bottom: 20px; " >
                    <div class="logo logo-width-1">
                        <a href="/"><img src="/assets/imgs/theme/ShoeShope_Black.svg" alt="logo"></a>
                    </div>
                    <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>
                           
                                <li>
                                    <a href="/showcase">Find Products</a>
                                </li>
                             

                            </ul>
                        </nav>
                    </div>
                    <div class="header-action-right">
                        <div class="search-style-2 ">

                            <input type="text" name="searchkey" id="searchProduct" style="width: 400px;" class="stylish-input" placeholder="Search for items…">
            
                        </div>
                        <div class="header-action-2">

                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img class="svgInject" alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg">
                                    <%if(wishlistCount > 0){%>

                                        <span class="pro-count blue" style="background-color: #e24a4a;" ><%=wishlistCount%></span>
                                    <%}%>
                                </a>
                            </div>

                            <div class="header-action-icon-2">
                                <a href="/cart">
                                    <img class="svgInject" alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">
                                    <%if(cartCount > 0){%>

                                        <span class="pro-count blue" style="background-color: #e24a4a;" ><%=cartCount%></span>
                                      
                                    <%}%>
                                </a>
                            </div>

                            <div class="header-action-icon-2 d-flex jusitfy-content-center align-items-center ">
                                <a href="/profile">
                                    <img class="svgInject" alt="" src="/assets/imgs/theme/icons/icon-profile.svg">
                                    
                                </a>
                            </div>

                            <div class="header-action-icon d-block d-lg-none">
                                <div class="burger-icon">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </header>