
<%- include("../layouts/header.ejs")  %>
<body onload="startTimer()" >
<%- include("../layouts/navigation.ejs")  %>


    <main class="main">
  
        <section class="pt-150 pb-150 viewHeight">
            <div class="container text-center">


                <div class="row justify-content-center align-items-center min-vh-100">
                    <div class="col-md-6">
                        <div class="card p-5">
                            <h3 class="text-center text-danger"> <span id="otp-timer" ></span></h3>
                           
                            <h4 class="text-success" id="otp-success-msg" >otp send to your email successfully</h4>
                            
                            <form id="otp-form" method="post" >
                                <div class="otp-form-group">
                                    <input type="text" class="otp-input form-control" id="otp1" oninput="moveToNext(this, 'otp2')" maxlength="1" required="" name="otp">
                                    <input type="text" class="otp-input form-control" id="otp2" oninput="moveToNext(this, 'otp3')" maxlength="1" required="" name="otp">
                                    <input type="text" class="otp-input form-control" id="otp3" oninput="moveToNext(this, 'otp4')" maxlength="1" required="" name="otp">
                                    <input type="text" class="otp-input form-control" id="otp4" oninput="moveToNext(this, 'otp5')" maxlength="1" required="" name="otp">
                                    <input type="text" class="otp-input form-control" id="otp5" maxlength="1" required="" name="otp">
                                </div>
                                <div class="otp-form-group text-center" id="otp-submit-parent" >
                                    <button  type="submit" class="btn btn-fill-out btn-block hover-up" id="otp-submit-bn" name="login">Verify</button>
                                </div>
                            </form>
                            <button class="btn" id="resend-otp" hidden>Resend OTP</button>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    </main>


    <%- include("../layouts/footer.ejs")  %>